.wrapper

  = render partial: 'shared/side_bar'

  .right-side
    .right-header
      .right-header__left-box
        .right-header__left-box__current-group
          = @group.name
        .right-header__left-box__member-list
          Member :
          .right-header__left-box__member-list__menber
            - @group.users.each do |user|
              = user.name
      =link_to "#" , class: "edit-btn" do
        .right-header__edit-btn
          Edit

    .chat
      = render @messages
      -# = render partial: 'message', collection: @messages

    .footer
      = form_for [@group, @message] do |f|
        .new-message
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'image'
              = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send', class: 'submit-btn'
